*,
*:before,
*:after {
  box-sizing: border-box;
}
.image1 {
  
  
}
@media (max-width: 420px) { .image1 {
max-height:60px; max-width:120px;}}
@media (min-width: 421px) and (max-width: 576px) {.image1 { max-height:80px; max-width:160px;} }
@media (min-width: 577px) and (max-width: 767px) {.image1 {max-width:200px; max-height:100px;} }

.first-picture {margin:5px;
}
.header-content {
  background-color: rgb(179, 146, 0);
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 320px;
  margin: auto;
}
@media (max-width: 420px) { .header-content {max-width:340px;}}
@media (min-width: 421px) and (max-width: 576px) {.header-content {max-width:400px;} }
@media (min-width: 577px) and (max-width: 767px) {.header-content {max-width:567px;} }
.item {
  display: flex;
  word-spacing: 15px;
  margin-left: auto;
  margin-right:5px;

}
@media (max-width: 576px) { .item {
font-size:9pt;
word-spacing:5px;}}
@media (min-width: 577px) and (max-width: 767px) {.item {font-size:13pt;} }

.hw5 {background-color: black;}

.aside1 {
 
  background-color: blueviolet;
  order: 1;
  text-align: center;
 
}
@media (max-width: 576px) { .aside1 {
  max-width:37px;
  max-height:800px;}}
  @media (min-width: 577px) and (max-width: 767px) {.aside1 {max-width:74px;} }

.aside2 {
 
  background-color: blueviolet;
  order: 3;
  text-align: center;
  
}
@media (max-width: 576px) { .aside2 {
  max-width:37px;
  max-height:800px;}}
  @media (min-width: 577px) and (max-width: 767px) {.aside1 {max-width:74px;} }

.content {
  display: flex;
  min-height: 750px;
  background-color: white;
  order: 2;
  flex-direction: column;
  min-width:240px;
}
@media (max-width: 420px) { .content {max-height:800px;
  max-width:266px;}}
  @media (min-width: 421px) and (max-width: 576px) {.content {max-width:326px;} }
  @media (min-width: 577px) and (max-width: 767px) {.content {max-width:470;} }
  
.maintext {
  text-align: center;
  font-size:9pt;
}

span {
  font-weight: bold;
  font-size: 12px;
}
.blocks {
  
  min-height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.block1 {
  
  min-height: 200;
  border: solid;
  border-radius: 25px;
  border-color: blueviolet;
  margin: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width:50px;
}
@media (max-width: 767px) { .block1 {max-height:400px;
  max-width:120px;}}

.block2 {
  
  min-height: 200px;
  border: solid;
  border-radius: 25px;
  border-color: blueviolet;
  margin: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width:50px;
}
@media (max-width: 767px) { .block2 {max-height:400px;
  max-width:120px;}}

.block3 {

  min-height: 200px;
  border: solid;
  border-radius: 25px;
  border-color: blueviolet;
  margin: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width:50px;
}
@media (max-width: 767px) { .block3 {max-height:400px;
  max-width:120px;}}

.block4 {
  
  min-height: 200px;
  border: solid;
  border-radius: 25px;
  border-color: blueviolet;
  margin: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width:50px;
}
@media (max-width: 767px) { .block4 {max-height:400px;
  max-width:120px;}}
.block5 {
 
  min-height: 200px;
  border: solid;
  border-radius: 25px;
  border-color: blueviolet;
  margin: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width:120px;
}
@media (max-width: 767px) { .block5 {max-height:400px;
  max-width:120px;}}
.block6 {
 
  min-height: 200px;
  border: solid;
  border-radius: 25px;
  border-color: blueviolet;
  margin: 1px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width:50px;
}
@media (max-width: 767px) { .block6 {max-height:400px;
  max-width:120px;}}

.blocktext > p {
  font-weight: 900;
  font-family: fantasy;
}

.image2 {
  border-radius: 100px;
  min-width: 10px;
  min-height: 10px;
  padding: 5px;
  background-color: grey;
  margin-top: 8px;
}
@media (max-width: 767px) { .image2 {max-height:400px;
  max-width:50px;}}

.blocktext {
  font-size: 7pt;
  text-align: center;
}
.button {
  background-color: blueviolet;
  border-radius: 19px;
  padding: 2px 14px 2px 14px;
  color: white;  
  margin:auto;
  
}

.main {
  display: flex;
  justify-content: center;
}
.footer {
  background-color: greenyellow;
  display: flex;
  align-items: center;
  margin:auto;
  justify-content: center;
}
@media (max-width: 420px) { .footer {min-width:340px;}}
@media (min-width: 421px) and (max-width: 576px) {.footer {min-width:400px;} }

.mainfooter {display:flex;
justify-content:center;
margin:auto;}

.footer-text {
  display: flex;
  min-height: 30px;
  justify-content: center;
  align-items: center;
  font-size: 16pt;
  min-width:340px;
}

@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
    transform: translateY(-20px);
  }
  80% {
    transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
.button:hover {
  animation: bounce 1s;
  cursor: pointer;
}


