*,
*:before,
*:after {
  box-sizing: border-box;
}
img {width:200px;
height:100px;}
.first-picture {
  margin-right:550px;
}
.header-content {
  background-color: rgb(179, 146, 0);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top:15px;
  padding-bottom:15px;
  width:1123px;
}
.item {
  display: flex;
  justify-content: flex-end;
  padding-right:10px;
  font-size: 16pt;
  word-spacing: 15px;
}
.header {display: flex;
  justify-content:center;}
.hw5 {background-color: black;
  
}

.aside1 {width:210px;
  height:700px;
background-color: blueviolet;
order:1;
text-align:center;}

.aside2 {width:210px;
  height:700px;
background-color: blueviolet;
order:3;
text-align:center;}

.text {display:block;
  height:700px; 
background-color: white;
width:703px;
order:2;
padding-left:15px;
padding-right:15px;
text-align:center;
}

  .main-content {display:flex;
justify-content: flex-start;}

.main {display:flex;
justify-content:center;}
.footer {background-color: greenyellow;
width:1123px;
display:flex;
justify-content:center;}
.footer-text {display:flex;
height: 105px;
justify-content:center;
align-items:center;
font-size: 16pt;
}
.mainfooter {display:flex;
justify-content:center;}